In [9]:
import numpy as np
import pandas as pd

df=pd.read_csv('./data/ch2_scores_em.csv',index_col='student number')

df.head()

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [11]:
#pandas에 있는 데이터를 numpy이용해서 배열로 정리함

scores = np.array(df['english'])[:10]
scores

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58], dtype=int64)

In [7]:
scores_df = pd.DataFrame({'score' :scores},
                         index=pd.Index(['A','B','C','D','E',
                                         'F','G','H','I','J'],
                                        name = 'student'))
scores_df

         score
student
A           42
B           69
C           56
D           41
E           57
F           48
G           65
H           49
I           65
J           58

In [13]:
#평균 구하기
sum(scores)/len(scores)

55.0

In [15]:
np.mean(scores)

55.0

In [17]:
scores_df.mean()

score    55.0
dtype: float64

In [19]:
sorted_scores=np.sort(scores)

In [21]:
sorted_scores

array([41, 42, 48, 49, 56, 57, 58, 65, 65, 69], dtype=int64)

In [25]:
n = len(sorted_scores)
#배열의 개수를 구함.

if n%2==0: #배열의 개수가 짝수라면
    m0 = sorted_scores[n//2-1] 
    m1 = sorted_scores[n//2]
    median = (m0+m1)/2
else:
    median = sorted_scores[(n+1)//2-1]
median

56.5

In [27]:
np.median(sorted_scores)

56.5

In [29]:
scores_df.median()

score    56.5
dtype: float64